.gameHomelayoutStyles {
    background-image: linear-gradient(135deg, rgb(77, 139, 85),  rgb(39, 39, 121), rgb(80, 80, 170) ,rgb(30, 34, 30)),
                        linear-gradient(73deg,  rgb(30, 83, 140),rgb(11, 11, 141),  rgb(47, 47, 151) ,rgb(150, 116, 116) );
    background-repeat : no-repeat;
    background-size: 100% 100%, 100% 100%;
    background-blend-mode: darken, darken; 
}