.selectedCharacter {
    box-shadow : 0 0 40px rgb(76, 76, 214)
}

.characterContainer {
    border-width : 3px;
    border-style : solid;
    border-color :  linear-gradient(to right, rgb(140, 140, 182), rgb(138, 92, 161));
    background : transparent;
    backdrop-filter: blur(10px);
}